@import "../styles/tokens.css";
@import "../styles/base.css";
@import "../styles/utilities.css";

@media print {
  body {
    background: white;
    color: black;
  }

  header,
  footer {
    display: none !important;
  }
}
